@model Maio11_Best.Models.trainer

@{
    ViewBag.Title = "DetailsTrainer";
}

<div>
    <div class="form-group mt-2 mb d-flex align-items-center gap-4">
        @if (Model.photo_path == null || String.IsNullOrEmpty(Model.photo_path))
        {
            <img width="60" src="@Url.Content("~/fotos/coachs/no-logo.png")" alt="" />
        }
        else
        {
            <img width="60" src="@Url.Content("~/fotos/coachs/" + System.IO.Path.GetFileName(Model.photo_path))" alt="" />
        }
        <h4>@Model.trainer_name details</h4>
    </div>

    <div class="form-horizontal d-flex flex-column gap-3">
        <div class="form-group">
            @Html.LabelFor(model => model.trainer_name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.trainer_name, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.coaching_license, "Coaching License", htmlAttributes: new { @class = "control -label col-md-2" })
            @Html.EditorFor(model => model.coaching_license, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Team.team_name, "Team", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Team.team_name, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>
    </div>
</div>

<div class="mt-4">
    @Html.ActionLink("Back to List", "TrainerList", null, new { @class="btn btn-primary" })
</div>
