@model Maio11_Best.Models.trainer

@{
    ViewBag.Title = "DetailsTrainer";
}

<h2>DetailsTrainer</h2>

<div>
    <h4>trainer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.trainer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trainer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coaching_license)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coaching_license)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Team.team_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.team_name)
        </dd>

        <dt>
            Photo
        </dt>

        <dd>
            @if (Model.photo_path == null || String.IsNullOrEmpty(Model.photo_path))
            {
                <img width="120" src="@Url.Content("~/fotos/coachs/no-logo.png")" alt="" />
            }
            else
            {
                <img width="120" src="@Url.Content("~/fotos/coachs/" + System.IO.Path.GetFileName(Model.photo_path))" alt="" />
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "TrainerList")
</p>
