@{
    ViewBag.Title = "TrainerList";
    var isAuthenticated = User.Identity.IsAuthenticated;
}

<h2>Trainer</h2>
<link href="~/DataTables/datatables.css" rel="stylesheet">

@if (User.Identity.IsAuthenticated)
{
    <div class="mb-2">
        @Html.ActionLink("Create New", "InsertTrainer", null, new { @class = "icon-button btn btn-primary fa fa-plus" })
        @Html.ActionLink("Export to Excel", "ExportToExcel", null, new { @class = "icon-button btn btn-success fa fa-file-excel-o" })
    </div>
}

<table id="table" class="table table-responsive table-bordered table-striped">
    <tr class="text-center">
        <th>Trainer Id</th>
        <th>Trainer</th>
        <th>Photo</th>
        <th>Coaching License</th>
        <th>Team</th>
        <th></th>
    </tr>
</table>

@section tabela {
    <script src="~/DataTables/datatables.js"></script>

    <script>
        var isAuthenticated = @Html.Raw(Json.Encode(isAuthenticated));
        $(function () {
            tabela = $("#table").DataTable({
                "language": {
                    "lengthMenu": "_MENU_",
                    "search": "",
                    "searchPlaceholder": "Search...",
                    "zeroRecords": "Zero Records Found",
                    "info": "Page _PAGE_ of _PAGES_",
                    "infoEmpty": "No Records",
                },
                "processing": true,
                "filter": true,
                "lengthMenu": [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "All"]],
                "pageLength": 5,
                "ajax": {
                    'url': "/Trainer/GetTrainers",
                    'type': 'get',
                    'dataType': 'json'

                },
                "columns": [
                    { data: "Id", title: "Id", className: "id-row" },
                    { data: "Name", title: "Name", className: "name-row" },
                    {
                        "data": "PhotoPath",
                        "title": "Photo",
                        "className": "text-center",
                        "autowidth": true,
                        "render": function (data, type, row) {
                            if (data == null || data == "") {
                                return '<img width="50" src="@Url.Content("~/fotos/coaches/no-coach.jpg")" alt="No Logo" />';
                            } else {
                                return '<img width="50" src="@Url.Content("~/fotos/coaches/")' + data + '" alt="Team Logo" />';
                            }
                        }

                    },
                    { data: "CoachingLicense", title: "Coaching License", className: "position-row" },
                    { data: "TeamName", title: "Team", className: "team-row" },
                    {
                        data: "Id",
                        className: "actions-row",
                        render: function (data, type, row) {
                            let actions = '<a href="@Url.Action("DetailsTrainer", "Trainer")/' + row.Id + '" class="icon-button btn btn-secondary fa fa-eye">Details</a>';
                            if (isAuthenticated) {
                                actions += ' <a href="@Url.Action("EditTrainer", "Trainer")/' + row.Id + '" class="icon-button btn btn-primary fa fa-pencil">Edit</a>';
                                actions += ' <a href="@Url.Action("DeleteTrainer", "Trainer")/' + row.Id + '" class="icon-button btn btn-danger fa fa-trash">Delete</a>';
                            }
                            return actions;
                        }
                    },
                ]
            });
        });
    </script>
}
