@model Maio11_Best.Models.Team

@{
    ViewBag.Title = "DetailsTeam";
}

<h2>DetailsTeam</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.team_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foundation_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foundation_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            Photo
        </dt>

        <dd>
            @if (Model.photo_path == null || String.IsNullOrEmpty(Model.photo_path))
            {
                <img width="120" src="@Url.Content("~/fotos/teams/no-logo.png")" alt="" />
            }
            else
            {
                <img width="120" src="@Url.Content("~/fotos/teams/" + System.IO.Path.GetFileName(Model.photo_path))" alt="" />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "TeamList")
</p>
