@model Maio11_Best.Models.Team

@{
    ViewBag.Title = "EditTeam";
}

<h2>EditTeam</h2>


@using (Html.BeginForm("EditTeam", "Team", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Team</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.team_id)

        <div class="form-group">
            @Html.LabelFor(model => model.team_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.team_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.team_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.foundation_year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.foundation_year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.foundation_year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Foto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="fich" name="fich" class="form-control" onchange="previewFile(this);" />
                @Html.ValidationMessageFor(model => model.photo_path, "", new { @class = "text-danger" })
            </div>
            @if (!string.IsNullOrEmpty(Model.photo_path))
            {
                <img width="180" class="figure-img m-3" id="foto" src="@Url.Content("~/fotos/teams/" + System.IO.Path.GetFileName(Model.photo_path))" alt="Team Photo" />
            }
            else
            {
                <img width="180" class="figure-img m-3" id="foto" alt="Preview" />
            }
        </div>

        <div class="form-group d-flex align-items-center gap-4">
            <div>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                @Html.ActionLink("Back to List", "TeamList", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "TeamList")
</div>

<script>
    function previewFile(input) {
        var file = $("input[type=file]").get(0).files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function () {
                $("#foto").attr("src", reader.result);
            }
            reader.readAsDataURL(file);
        }
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
