@model Maio11_Best.Models.player

@{
    ViewBag.Title = "DetailsPlayer";
}

<h2>DetailsPlayer</h2>

<div>
    <h4>player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.player_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthdate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Team.team_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.team_name)
        </dd>

        <dt>
            Photo
        </dt>

        <dd>
            @if (Model.photo_path == null || String.IsNullOrEmpty(Model.photo_path))
            {
                <img width="120" src="@Url.Content("~/fotos/players/no-logo.png")" alt="" />
            }
            else
            {
                <img width="120" src="@Url.Content("~/fotos/players/" + System.IO.Path.GetFileName(Model.photo_path))" alt="" />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "PlayerList")
</p>
