@model IEnumerable<Maio11_Best.Models.player>

@{
    ViewBag.Title = "PlayerList";
}

<h2>Players</h2>

<p>
    @Html.ActionLink("Create New", "InsertPlayer", null, new { @class = "btn btn-primary" })
</p>
<h3>@ViewBag.msg</h3>
<table class="table table-responsive table-bordered table-striped">
    <tr class="text-center">
        <th>Id</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Position</th>
        <th>Birthdate</th>
        <th>Team</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="text-center">
        <td>
            @Html.DisplayFor(modelItem => item.player_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.player_name)
        </td>
        <td>
            @if (item.photo_path == null || String.IsNullOrEmpty(item.photo_path))
            {
                <img width="50" src="@Url.Content("~/fotos/players/no-player.jpg")" alt="" />
            }
            else
            {
                <img width="50" src="@Url.Content("~/fotos/players/" + System.IO.Path.GetFileName(item.photo_path))" alt="" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.team_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPlayer", new { id = item.player_id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "DeletePlayer", new { id = item.player_id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
